<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GStreamer4iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>57D0CCE91C1C0BBE0018A6D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57D0CD0C1C1C0BBF0018A6D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57D0CD171C1C0BBF0018A6D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
